frontend/talodu/node_modules/
./frontend/talodu/node_modules/
./backend/talodu/.env
backend/talodu/.env
./frontend/talodu/.env
frontend/talodu/.env
**/.env
**/node_modules/
backend/talodu/uploads
./backend/talodu/uploads
**/uploads/frontend/talodu/.savenext/cache/
frontend/talodu/.env.local
./frontend/talodu/.env.local
